{{>partials/header}}
<link rel="stylesheet" href="/css/cadastrar.css">

<h1>Editar usuário</h1>

<form action="/editar/{{id}}" method="POST">
    Nome: <br>
    <input type="text" name="nome" value="{{user.nome}}"> <br>
    Email: <br>
    <input type="email" name="email" value="{{user.email}}"><br><br>
    <input type="submit" value="Editar">

</form>

<a href="/usuarios">Clique aqui!</a>

{{>partials/footer}}