{{>partials/header}}

<a href="/cadastro">Adicionar usuário</a>

<table border="1" width="100%">
<tr>
    <th>ID</th>
    <th>NOME</th>
    <th>EMAIL</th>
    <th>AÇÕES</th>
</tr>

{{#users}}
<tr>
    <td>{{id}}</td>
    <td>{{nome}}</td>
    <td>{{email}}</td>
    <td>
        <a href="/editar/{{id}}" class="botoes"><img src="/images/pencil.png" alt="editar"></a>
        <a href="/excluir/{{id}}" class="botoes" onclick="return confirm('Deseja realmente excluir?')">
            <img src="/images/trash-can.png" alt="">
        </a>
    </td>
</tr>
{{/users}}

</table>


{{>partials/footer}}